*, ::after, ::before {
	box-sizing: border-box;
}

/* Site-wide global styling */
body {
	background: url("/img/background.webp") fixed;
	background-size: contain;
	padding-top: 60px;
	margin: 0;
	font-family: sans-serif;
	line-height: 1.5; /* TODO: Simplify the various line-height and top/bottom margin rules for headings etc */
}

main {
	border-radius: 5px;
	box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.15);
	padding: 20px 15px;
	margin-top: 40px;
	margin-left: auto; margin-right: auto;
	width: calc(100% - 90px);
	max-width: 1140px; min-width: 400px;
}

img {max-width: 100%;}

/* Footer of every page - copyright, social links, etc */
footer {
	text-align: center;
	margin-top: 100px;
	background: #E3E3E3;
	padding: 12px;
}
footer svg, footer img {
	display: inline-block;
	height: 32px;
	margin: 0 8px; /* Comply with Instagram's TOS by having half an icon of gap */
}
/* Trim the outside margins to fit the footer images on slightly smaller screens w/o wrapping */
footer a:first-child img, footer a:first-child svg {margin-left: 0;}
footer a:last-child img, footer a:last-child svg {margin-right: 0;}

/* The nav bar and its hamburger button */
nav {
	position: fixed;
	top: 0; left: 0; right: 0;
	z-index: 1030;
	background-color: #f8f9fa;
	box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.15);
	display: flex; flex-flow: row nowrap;
	align-items: center;
	padding: .5rem 0;
	min-height: 74px;
}
nav input {
	/* The magical checkbox */
	position: absolute;
	width: 43px; height: 37px;
	display: none;
	opacity: 0;
}
#raptor_button {display: none;}
#raptor_button div {
	/* The three lines of the hamburger menu */
	width: 33px; height: 4px;
	background: #cdcdcd;
	border-radius: 3px;
	margin: 0 0 5px 3px;
}
nav input:checked ~ * {display: block}
nav img {
	width: 77px;
}
nav a {
	color: black;
	font-weight: normal;
}
nav > a, nav > .nav-menucontainer {
	padding: .5rem;
}
nav > .keep {
	margin-bottom: -3rem; /* Let the Home button drift below its frame a bit */
}
/* Below 822px of width, collapse to Raptor Mode */
@media (max-width: 822px)
{
	nav {
		flex-direction: column;
		align-items: start;
	}
	nav input, #raptor_button {
		display: block;
		cursor: pointer;
		padding: 5px;
		margin: 12px 0 0 6px;
	}
	nav > .keep {
		display: block;
		position: absolute;
		left: calc(50% - 77px / 2);
	}
	nav > a, nav > .nav-menucontainer {
		display: none;
	}
}

.dropdown-menu a {
	display: block;
	padding: .25rem 1.5rem;
	color: #212529;
	white-space: nowrap;
}

.nav-dropdown:after {
	content: "▼";
	font-size: 0.75em;
	margin-left: 0.25em;
}
.nav-submenu {
	display: flex;
	position: absolute;
	flex-direction: column;
	padding: 0.5em;
	margin: 0.125em;
	background-color: #fff;
	border: 1px solid black;
	border-radius: 0.25em;
}
.nav-dropdown[aria-expanded="false"] ~ .nav-submenu {display: none;}
.nav-submenu a {
	color: #212529;
	margin: 0.25em 1em;
}
a {text-decoration: none;}
.active {text-decoration: underline;}

/* Hide from screenreaders (they're scary!) */
.screenreader {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

hr {margin-bottom: 1rem;}
